/* jsTree default theme */
.jstree-node,
.jstree-children,
.jstree-container-ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.jstree-node {
  white-space: nowrap;
}
.jstree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 0.5rem 0 0.25rem;
  margin: 0;
  vertical-align: top;
}
.jstree-anchor:focus {
  outline: 0;
}
.jstree-anchor,
.jstree-anchor:link,
.jstree-anchor:visited,
.jstree-anchor:hover,
.jstree-anchor:active {
  text-decoration: none;
  color: inherit;
}
.jstree-icon {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.jstree-icon:empty {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}
.jstree-ocl {
  cursor: pointer;
}
.jstree-leaf > .jstree-ocl {
  cursor: default;
}
.jstree .jstree-open > .jstree-children {
  display: block;
}
.jstree .jstree-closed > .jstree-children,
.jstree .jstree-leaf > .jstree-children {
  display: none;
}
.jstree-anchor > .jstree-themeicon {
  margin-right: 0.125rem;
}
.jstree-no-icons .jstree-themeicon,
.jstree-anchor > .jstree-themeicon-hidden {
  display: none;
}
.jstree-hidden,
.jstree-node.jstree-hidden {
  display: none;
}
.jstree-rtl .jstree-anchor {
  padding: 0 0.25rem 0 0.5rem;
}
.jstree-rtl .jstree-anchor > .jstree-themeicon {
  margin-left: 0.125rem;
  margin-right: 0;
}
.jstree-rtl .jstree-node {
  margin-left: 0;
}
.jstree-rtl .jstree-container-ul > .jstree-node {
  margin-right: 0;
}
.jstree-wholerow-ul {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
.jstree-wholerow-ul .jstree-leaf > .jstree-ocl {
  cursor: pointer;
}
.jstree-wholerow-ul .jstree-anchor,
.jstree-wholerow-ul .jstree-icon {
  position: relative;
}
.jstree-wholerow-ul .jstree-wholerow {
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jstree-contextmenu .jstree-anchor {
  -webkit-user-select: none;
  /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  /* disable the IOS popup when long-press on a link */
}


#jstree-marker {
  position: absolute;
  top: 0;
  left: 0;
  margin: -5px 0 0 0;
  padding: 0;
  border-right: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
#jstree-dnd {
  line-height: 1rem;
  margin: 0;
  padding: 0.25rem;
}
#jstree-dnd .jstree-icon,
#jstree-dnd .jstree-copy {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.125rem 0 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
}
#jstree-dnd .jstree-ok {
  background: hsla(var(--spip-color-success--hsl),0.25);
}
#jstree-dnd .jstree-er {
  background: hsla(var(--spip-color-error--hsl), 0.25);
}
#jstree-dnd .jstree-copy {
  margin: 0 0.125rem;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
  background-repeat: no-repeat;
  background-color: transparent;
}
.jstree-default .jstree-anchor,
.jstree-default .jstree-animated,
.jstree-default .jstree-wholerow {
  transition: background-color 0.15s, box-shadow 0.15s;
}
.jstree-default .jstree-hovered {
  background: hsla(var(--spip-color-info--hsl), 0.125);
  border-radius: 0.125rem;
  box-shadow: inset 0 0 0.125rem var(--spip-color-gray-light);
}
.jstree-default .jstree-context {
  background: hsla(var(--spip-color-info--hsl), 0.125);
  border-radius: 0.125rem;
  box-shadow: inset 0 0 0.125rem var(--spip-color-gray-light);
}
.jstree-default .jstree-clicked {
  background: hsla(var(--spip-color-info--hsl), 0.25);
  border-radius: 0.125rem;
  box-shadow: inset 0 0 0.125rem var(--spip-color-gray);
}
.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon {
  display: none;
}
.jstree-default .jstree-disabled {
  background: transparent;
  color: var(--spip-color-gray-light);
}
.jstree-default .jstree-disabled.jstree-hovered {
  background: transparent;
  box-shadow: none;
}
.jstree-default .jstree-disabled.jstree-clicked {
  background: var(--spip-color-gray-lighter);
}
.jstree-default .jstree-disabled > .jstree-icon {
  opacity: 0.8;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.jstree-default .jstree-search {
  font-style: italic;
  color: var(--spip-color-theme);
  font-weight: bold;
}
.jstree-default .jstree-no-checkboxes .jstree-checkbox {
  display: none !important;
}
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
  background: transparent;
  box-shadow: none;
}
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
  background: hsla(var(--spip-color-info--hsl), 0.125);
}
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked {
  background: transparent;
}
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
  background: hsla(var(--spip-color-info--hsl), 0.125);
}
.jstree-default > .jstree-striped {
  min-width: 100%;
  display: inline-block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat;
}
.jstree-default > .jstree-wholerow-ul .jstree-hovered,
.jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
.jstree-default .jstree-wholerow {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jstree-default .jstree-wholerow-hovered {
  background: hsla(var(--spip-color-info--hsl), 0.125);
}
.jstree-default .jstree-wholerow-clicked {
  background: hsla(var(--spip-color-info--hsl), 0.25);
}
.jstree-default .jstree-node {
  min-height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 1.5rem;
  min-width: 1.5rem;
}
.jstree-default .jstree-anchor {
  line-height: 1.5rem;
  height: 1.5rem;
}
.jstree-default .jstree-icon {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.jstree-default .jstree-icon:empty {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.jstree-default.jstree-rtl .jstree-node {
  margin-right: 1.5rem;
}
.jstree-default .jstree-wholerow {
  height: 1.5rem;
}

.jstree-default .jstree-node {
	position: relative;
}
/*pointilles verticaux*/
.jstree-default .jstree-node:before {
    content:'';
    display: block;
    width: 0;
    height: 100%;
    border-right: 1px dotted var(--spip-color-gray-darker);
    position: absolute;
    top:0;
    left: 0.75rem;
    margin-left: -1px;
}
.jstree-default.jstree-rtl .jstree-node:before {
	right: 0.75rem;
	left: auto;
	margin-right: -1px;
	margin-left: 0;
}

.jstree-default .jstree-last:before {
    height: 0.75rem;
}

.jstree-default .jstree-open > .jstree-ocl,
.jstree-default .jstree-closed > .jstree-ocl,
.jstree-default .jstree-leaf > .jstree-ocl {
	background: transparent;
	position: relative;
}

/*pointilles horizontaux*/
.jstree-default .jstree-open > .jstree-ocl:before,
.jstree-default .jstree-closed > .jstree-ocl:before,
.jstree-default .jstree-leaf > .jstree-ocl:before {
    content:'';
    display: block;
    height: 0;
    width: 50%;
    border-bottom: 1px dotted var(--spip-color-gray-darker);
    position: absolute;
    left:50%;
    top:50%;
}
.jstree-default.jstree-rtl .jstree-open > .jstree-ocl:before,
.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl:before,
.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl:before {
	right:50%;
	left: auto;
}

/* triangle */
.jstree-default .jstree-open > .jstree-ocl:after,
.jstree-default .jstree-closed > .jstree-ocl:after,
.jstree-default .jstree-leaf > .jstree-ocl:after {
    content:'';
    display: block;
    position: absolute;
    left:50%;
    top:50%;
	box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: -0.1875rem;
    margin-top: -0.375rem;
    border:0.375rem solid transparent;
    border-left-color: var(--spip-color-gray-light);
    transform-origin: 0.0375rem 0.4875rem;
}
.jstree-default.jstree-rtl .jstree-open > .jstree-ocl:after,
.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl:after,
.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl:after {
	right:50%;
	left:auto;
	margin-right: -0.1875rem;
	margin-left: 0;
	border-right-color: var(--spip-color-gray-light);
	border-left-color: transparent;
	transform-origin: 0.7125rem 0.4875rem;
}


.jstree-default .jstree-open > .jstree-ocl:after {
  border-left-color: var(--spip-color-theme);
  transform: rotate(45deg);
}

.jstree-default.jstree-rtl .jstree-open > .jstree-ocl:after {
  border-right-color: var(--spip-color-theme);
  transform: rotate(-45deg);
}

.jstree-default .jstree-leaf > .jstree-ocl:after {
  display: none;
}

.jstree-default .jstree-themeicon {
  background: transparent;
}

.jstree-default > .jstree-no-dots .jstree-node:before,
.jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl:before,
.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl:before,
.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl:before {
  display: none;
}


.jstree-default .jstree-disabled {
  background: transparent;
}
.jstree-default .jstree-disabled.jstree-hovered {
  background: transparent;
}
.jstree-default .jstree-disabled.jstree-clicked {
  background: var(--spip-color-gray-lighter);
}

.jstree-default > .jstree-striped {
  background-size: auto 48px;
}

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(find-in-path(css/img/loader.svg)) center center no-repeat;
  background-size: contain;
}

.jstree-default > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0;
}
#jstree-dnd.jstree-default {
  line-height: 1.5rem;
  padding: 0.25rem 1rem;
  box-shadow: 0 0 0.5rem var(--spip-color-gray-darkest);
  background-color: rgba(255,255,255, 0.75);
}

#jstree-dnd.jstree-default .jstree-ok,
#jstree-dnd.jstree-default .jstree-er {
  background-repeat: no-repeat;
  background-color: rgba(255,255,255, 0.75);
  background-size: contain;
}

#jstree-dnd.jstree-default i {
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

#jstree-dnd.jstree-default .jstree-ok {
  background-image: url(ok-xx.svg);
}
#jstree-dnd.jstree-default .jstree-er {
  background-image: url(erreur-xx.svg);
}
.jstree-default .jstree-ellipsis {
  overflow: hidden;
}

.jstree-default .jstree-ellipsis .jstree-anchor {
  width: calc(100% - 29px);
  text-overflow: ellipsis;
  overflow: hidden;
}


