* text=auto !eol
action/deplacer_objets.php -text
action/plan.php -text
css/plan_prive.css.html -text
lang/paquet-plan.xml -text
lang/paquet-plan_en.php -text
lang/paquet-plan_fr.php -text
lang/paquet-plan_fr_fem.php -text
lang/paquet-plan_nl.php -text
lang/paquet-plan_pt_br.php -text
lang/plan.xml -text
lang/plan_de.php -text
lang/plan_en.php -text
lang/plan_fr.php -text
lang/plan_fr_fem.php -text
lang/plan_nl.php -text
lang/plan_pt_br.php -text
lib/jstree/LICENSE-MIT -text
lib/jstree/README.md -text
lib/jstree/dist/jstree.js -text
lib/jstree/dist/jstree.min.js -text
lib/jstree/dist/themes/default-dark/32px.png -text
lib/jstree/dist/themes/default-dark/40px.png -text
lib/jstree/dist/themes/default-dark/style.css -text
lib/jstree/dist/themes/default-dark/style.min.css -text
lib/jstree/dist/themes/default-dark/throbber.gif -text
lib/jstree/dist/themes/default/32px.png -text
lib/jstree/dist/themes/default/40px.png -text
lib/jstree/dist/themes/default/style.css -text
lib/jstree/dist/themes/default/style.min.css -text
lib/jstree/dist/themes/default/throbber.gif -text
/paquet.xml -text
/plan_fonctions.php -text
prive/javascript/spiptree.js -text
prive/squelettes/contenu/plan.html -text
prive/squelettes/head/plan.html -text
prive/squelettes/inclure/plan-articles.html -text
prive/squelettes/inclure/plan-articles_fonctions.php -text
prive/squelettes/inclure/plan-rubriques.html -text
prive/squelettes/inclure/plan.html -text
prive/themes/spip/images/plan-128.png -text
prive/themes/spip/images/plan-16.png -text
prive/themes/spip/images/plan-32.png -text
prive/themes/spip/images/plan-64.png -text
